Source: nginx-site
Section: unknown
Priority: optional
Maintainer: Karel Wintersky <karel.wintersky@yandex.ru>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: nginx-site
Architecture: all
Depends:
Description: nginx_site

